<div class="cols-xs-10 shifter">
	<h2>Nelisa Products Category</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Category_id</th><th>Category_name</th><th>Quantity</th>
		</thead>
			{{#categories}}
			<tr>
				<td>{{cat_id}}</td><td>{{cat_name}}</td>
				<td>{{No_sold}}</td>
			</tr>
			{{/categories}}
		</table>
</div>