<h3>Click the buttons above to view statitics</h3>
  {{stock_item}}
<div>
{{#empty}}
  <p>The list is empty.</p>
{{/empty}}
</div>
<table><tr>
  
 <td><a href="/products/edit/{{id}}">Edit</a></td><br>
 <br>
 <div id="delete-products">
  <form action="/products/delete" method="POST">
    Stock_item: <input type="text" name="stock_item" value="{{prod_id}}"> 
    <input type="submit" value="Submit"> 
  </form>
  </div>
</tr>
</table>

<div id="add-products">
	<h1>Add a product</h1>
	<form action="/products/add" method="POST">
		Item: <input type="text" name="stock_item">	
		<input type="submit">
	</form>
  
</div>

