<div class="cols-xs-10 shifter">
	<h2>Nelisa Popular Categories</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>cat_id</th><th>Categories name</th><th>Number Sold</th>
		</thead>
			{{#categories}}
			<tr>
				<td>{{cat_id}}</td><td>{{cat_name}}</td>
				<td>{{No_sold}}</td>
			</tr>
			{{/categories}}
		</table>
</div>