<div class="cols-xs-10 shifter">
	<h2>Nelisa Product Price And Cost</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>product name</th><th>sale price</th><th>cost</th>
		</thead>
			{{#price_and_cost}}
			<tr>
				<td>{{stock_item}}</td><td>{{sales_price}}</td>
				<td>{{cost}}</td>
			</tr>
			{{/price_and_cost}}
		</table>
</div>	