<div class="cols-xs-10 shifter">
	<h2>Nelisa Product Products earnings</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>product name</th><th>Earnings</th>
		</thead>
			{{#product_earning}}
			<tr>
				<td>{{stock_item}}</td><td>{{earnings}}</td>
			</tr>
			{{/product_earning}}
		</table>
</div>	